certifi==2025.8.3
charset-normalizer==3.4.3
colorama==0.4.6
geographiclib==2.1
geopandas==1.1.1
geopy==2.4.1
idna==3.10
networkx==3.5
numpy==2.2.6
opencv-python==4.12.0.88
osmnx==2.0.6
packaging==25.0
pandas==2.3.2
pyogrio==0.11.1
pyproj==3.7.2
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
shapely==2.1.1
six==1.17.0
tqdm==4.67.1
tzdata==2025.2
urllib3==2.5.0
python==3.13.7